* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background-color: #F6F6F6;
    font-family: 'Poppins', sans-serif;
}

* {
    transition:
        background-color 0.2s ease,
        color 0.2s ease,
        border-color 0.2s ease;
}

.navbar-bg {
    background: linear-gradient(90deg, #0D3523, #1F7D53);
}

.footer {
    background: linear-gradient(90deg, #0D3523, #1F7D53);
}

/* TEXT */
.text-custom-green {
    color: var(--text-green) !important;
}

.text-custom-gray {
    color: #959798 !important;
}

.text-custom-blue {
    color: var(--text-blue) !important;
}

/* BUTTON LOGIN */

.btn-register {
    color: #1F7D53;
    background-color: #fff;
}

.btn-register:hover {
    background-color: #1F7D53;
    color: #fff;
    border: 1px solid #fff;

}

.btn-custom-outline-green {
    color: #1F7D53;
    border: 2px solid #1F7D53;
    background-color: #fff;
}

.btn-custom-outline-green:hover,
.btn-custom-outline-green:focus {
    background-color: #1F7D53;
    color: #fff;
    border-color: #1F7D53;
}

.btn-custom-green {
    background-color: #1F7D53;
    color: #fff;
    border: 2px solid #1F7D53;
}

.btn-custom-green:hover,
.btn-custom-green:focus {
    background-color: #fff;
    color: #69a88c;
    border-color: #69a88c;
}

.btn-custom-gray {
    background-color: #f4f4f4;
    color: #959798;
    border: 1px solid #959798;
}

.btn-custom-gray:hover,
.btn-custom-gray:focus {
    background-color: #959798;
    color: #f4f4f4;
    border-color: #959798;
}