:root {
    --primary-50: #e9f233;
    --primary-100: #bad7ca;
    --primary-200: #98c3b0;
    --primary-300: #69a88c;
    --primary-400: #4c9775;
    --primary-500: #1f7d53;
    --primary-600: #1c724c;
    --primary-700: #16593b;
    --primary-800: #11452e;
    --primary-900: #0d3523;

    --secondary-50: #fefdf0;
    --secondary-100: #fcf8d1;
    --secondary-200: #faf4ba;
    --secondary-300: #f8f09b;
    --secondary-400: #f6ed87;
    --secondary-500: #f4e869;
    --secondary-600: #ded360;
    --secondary-700: #ada54b;
    --secondary-800: #86803a;
    --secondary-900: #66612c;

    --danger-50: #ffe6e6;
    --danger-100: #ffb0b0;
    --danger-200: #ff8a8a;
    --danger-300: #ff5454;
    --danger-400: #ff3333;
    --danger-500: #ff0000;
    --danger-600: #e80000;
    --danger-700: #b50000;
    --danger-800: #8c0000;
    --danger-900: #6b0000;

    --success-50: #e8ffe6;
    --success-100: #b7ffb0;
    --success-200: #64ff8a;
    --success-300: #63ff54;
    --success-400: #45ff33;
    --success-500: #16ff00;
    --success-600: #14e800;
    --success-700: #10b500;
    --success-800: #0c8c00;
    --success-900: #096b00;

    --warning-50: #fff2ea;
    --warning-100: #ffd7be;
    --warning-200: #ffc49e;
    --warning-300: #fea972;
    --warning-400: #fe9957;
    --warning-500: #fe7f2d;
    --warning-600: #e77429;
    --warning-700: #b45a20;
    --warning-800: #8c4619;
    --warning-900: #6b3513;

    --info-button-50: #eff8ff;
    --info-button-100: #cee8ff;
    --info-button-200: #b6ddff;
    --info-button-300: #94cdff;
    --info-button-400: #80c4ff;
    --info-button-500: #60b5ff;
    --info-button-600: #57a5e8;
    --info-button-700: #4481b5;
    --info-button-800: #35648c;
    --info-button-900: #284c6b;

    --netral-50: #fdfdfd;
    --netral-100: #f7f7f7;
    --netral-200: #f4f4f4;
    --netral-300: #eeeeee;
    --netral-400: #ebebeb;
    --netral-500: #e6e6e6;
    --netral-600: #d1d1d1;
    --netral-700: #a3a3a3;
    --netral-800: #7f7f7f;
    --netral-900: #616161;
}
