    body {
        font-family: 'Poppins', sans-serif;
    }

    /* BACKGROUND */
    .login-page {
        height: 100vh;
        background: url("/images/login/bg-login.jpg") center / cover no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* CARD */
    .login-card {
        background: #fff;
        width: 100%;
        max-width: 600px;
        border-radius: 16px;
        padding: 24px;
        box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
    }

    /* LOGO */
    .login-logo {
        display: flex;
        justify-content: center;
    }

    .login-logo img {
        width: 300px;
        /* ukuran logo */
        height: auto;
        /* jaga proporsi */
        max-width: 100%;
    }


    /* TITLE */
    .login-title {
        font-weight: 600;
        font-size: 30px;
        margin-bottom: 24px;
        color: #191C1F;
    }

    .login-email {
        font-weight: 500;
        color: #191C1F;
    }

    /* FORM */
    .form-label {
        font-weight: 500;
        font-size: 14px;
        margin-left: 5px;
        margin-bottom: -10px;
    }

    .form-control {
        height: 38px;
        border-radius: 4px;
        font-size: 13px;

    }

    /* REGISTER */
    .register-text {
        font-size: 14px;
    }

    .register-text a {
        font-weight: 600;
        text-decoration: none;
        color: var(--primary-500);
    }

    .register-text a:hover {
        color: var(--primary-300);
    }

    .forgot-link {
        font-size: 14px;
        font-weight: 600;
        text-decoration: none;
        color: var(--info-button-700);
    }

    .forgot-link:hover {
        color: var(--info-button-500);
    }

    .password-wrapper {
        position: relative;
    }

    .password-wrapper input,
    .password-wrapper input.is-invalid {
        padding-right: 45px;
        /* ruang untuk icon mata */
        height: 40px;
        box-sizing: border-box;
    }

    .password-wrapper .password-toggle {
        position: absolute;
        top: 50%;
        right: 12px;
        transform: translateY(-50%);
        cursor: pointer;
        font-size: 1.3rem;
        color: #6c757d;
        z-index: 5;
    }

    .password-wrapper .password-toggle:hover {
        color: #000;
    }

    .form-control.is-invalid {
        padding-right: 45px;
        /* tetap sama dengan input normal */
        background-image: none;
    }